.btn {
    background-color:#008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.hide {
  display:none;
}

.desc {
  font-size: 40;
}

.UserImage {
  height: 500;
  width: 500;
  float: center;
}

.add {
  width: 400px;
  padding: 12px 20px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.enter {
  width: 400px;
  padding: 12px 20px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin:auto;
}

.specialButtons {
  margin:auto;
}

body {
  background-image: url("../App/Stars.jpeg");
  color: white;
}
.HomeLogo {
    font-size: 50px;
    text-align: center;
    color: yellow;
    width: 400px;
    padding: 100px;
    margin: auto;
}

p {
    font-size: 25px;
    text-align: center;
    color: yellow;
    width: 600px;
    padding: 10px;
    margin: auto;
}

#container{
  width:100%;
  margin:auto;
}

#left {
  width:50%;
  float: left;
  height: 100%;
}

#right{
  width:50%;
  float:left;
}

#login {
  width:100%;
  float: center;
}
